doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    style
      | :root   {--font-family: 'Open Sans', Lato, fantasy;}
      | a       {color: inherit; text-decoration: none; text-align: center;}
      | img     {border-radius: 50%; float: right; width: 8em;}
    title Muhammad Hamdy AlAref
  body
    main.container
      article
        header
          img(src="me.jpg")
          hgroup
            h2 Muhammad Hamdy AlAref
            p Computer Engineer
        p
          u Teaching Assistant<br/>
          a(href="http://cu.edu.eg/" target="_blank" rel="noopener noreferrer") Cairo University
          |  ― 
          a(href="http://eng.cu.edu.eg/" target="_blank" rel="noopener noreferrer") Faculty of Engineering
          | <br/>
          a(href="http://zewailcity.edu.eg/" target="_blank" rel="noopener noreferrer") Zewail City
          |  ― 
          a(href="https://www.zewailcity.edu.eg/main/content.php?lang=en&alias=university_of_science_and_technology" target="_blank" rel="noopener noreferrer") University of Science and Technology
          | <br/>
          a(href="http://aucegypt.edu/" target="_blank" rel="noopener noreferrer") The American University in Cairo
          |  ― 
          a(href="https://sse.aucegypt.edu/departments/cse" target="_blank" rel="noopener noreferrer") CSCE
          | <br/>
          a(href="http://uottawa.ca" target="_blank" rel="noopener noreferrer") University of Ottawa
          |  ― 
          a(href="http://debi.gov.eg" target="_blank" rel="noopener noreferrer") Digital Egypt Builders Initiative
          | <br/>
        p
          u Master of Artificial Intelligence<br/>
          a(href="http://zewailcity.edu.eg/" target="_blank" rel="noopener noreferrer") Zewail City
          |  ― 
          a(href="https://www.zewailcity.edu.eg/main/content.php?lang=en&alias=university_of_science_and_technology" target="_blank" rel="noopener noreferrer") University of Science and Technology
          | <br/>
        p
          u Bachelor of Computer Engineering<br/>
          a(href="http://cu.edu.eg/" target="_blank" rel="noopener noreferrer") Cairo University
          |  ― 
          a(href="http://eng.cu.edu.eg/" target="_blank" rel="noopener noreferrer") Faculty of Engineering
          | <br/>
        footer
          .grid
            a.contrast.outline(href="/Muhammad_Hamdy_AlAref.pdf" role="button" style="border: 0;")
              i.fas.fa-file-pdf
              |  Resume
            a.contrast.outline(href="mailto:muhammad@alaref.me" role="button" style="border: 0;")
              i.fas.fa-at
              |  Email
            a.contrast.outline(href="https://github.com/muhammad-alaref" role="button" style="border: 0;")
              i.fab.fa-github
              |  GitHub
            a.contrast.outline(href="https://www.linkedin.com/in/muhammad-alaref/" role="button" style="border: 0;")
              i.fab.fa-linkedin
              |  LinkedIn
